<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25"/>
		<setting name="defaultFetchSize" value="100"/>
		<setting name="safeRowBoundsEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="localCacheScope" value="SESSION"/>
		<setting name="jdbcTypeForNull" value="OTHER"/>
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	</settings>

	<typeAliases>
		<!-- 为传入参数加上%后缀，执行前缀查询 -->
		<typeAlias alias="prefix" type="com.hsh24.xplatform.framework.ibatis.type.PrefixTypeHanlderCallback" />
	
		<!-- 为传入参数加上%前缀，执行后缀查询 -->
		<typeAlias alias="postfix" type="com.hsh24.xplatform.framework.ibatis.type.PostfixTypeHanlderCallback" />
	
		<!-- 为传入参数的前后都加上%，执行模糊查询 -->
		<typeAlias alias="wildcard" type="com.hsh24.xplatform.framework.ibatis.type.WildcardTypeHanlderCallback" />
	
		<!-- 将java.util.Date类型的传入参数转化成yyyy-mm-dd hh24:mi:ss格式的字符串 -->
		<typeAlias alias="dateTime" type="com.hsh24.xplatform.framework.ibatis.type.DateTimeTypeHanlderCallback" />
	
		<!-- 将java.util.Date类型的传入参数转化成yyyy-mm-dd格式的字符串 -->
		<typeAlias alias="dateOnly" type="com.hsh24.xplatform.framework.ibatis.type.DateOnlyTypeHanlderCallback" />
	
		<!-- 根据传入的java.util.Date类型参数计算出前/后一天，并且转化成yyyy-mm-dd hh24:mi:ss格式的字符串。执行时间区间查询时，构造条件一般为：开始日期 
			<= DateField < 结束日期的后一天 -->
		<typeAlias alias="previousDate" type="com.hsh24.xplatform.framework.ibatis.type.PreviousDateTypeHanlderCallback" />
	
		<typeAlias alias="nextDate" type="com.hsh24.xplatform.framework.ibatis.type.NextDateTypeHanlderCallback" />
	
		<!-- 当执行in参数查询的时候替换“’”字符为空 -->
		<typeAlias alias="charaRplace" type="com.hsh24.xplatform.framework.ibatis.type.CharacterReplaceHanlderCallback" />
		
		<typeAlias alias="user" type="com.hsh24.xplatform.api.user.bo.User" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/global.xml" />
		<mapper resource="mybatis/mapper-user.xml" />
	</mappers>
	
</configuration>